body {
	/*font: 76.5%/1.6em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;*/
	font:76% Georgia;
	color:#646F5E;
	background:url(../images/body_bg.gif) #342321;
	margin:0;
}